* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #FFE8C8;
    color: #4b4b4b;
}

.navbar {
    background-color: #FFA62F;
    color: #fff;
}

.navbar-brand, .nav-link, .dropdown-item {
    color: black !important;
}

.nav-link.active {
    font-weight: bold;
    color: #FFC96F !important;
}

.btn-outline-danger {
    color: #fff;
    border-color: none;
    background-color: #FFC96F;
}

.btn-outline-danger:hover {
    background-color: #FFA62F;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.container-fluid {
    padding: 20px;
}

.text h1, .text h2 {
    color: #ACD793;
    font-weight: bold;
}

.card {
    background-color: #FFF;
    color: #4b4b4b;
    font-size: 20px;
    border: 1px solid #FFA62F;
    margin: 20px;
    width: 100%;
    max-width: 350px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 0.5s;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    color: #ACD793;
}

.card-text {
    flex-grow: 1;
}

.sec2 .text {
    margin: 20px;
    width: 50%;
}

.sec2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.contactForm {
    position: relative;
    text-align: center;
    align-items: center;
}

.inputFields {
    margin: 30px;
    width: 100%;
    height: auto;
}

.name, .info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6px;
}

.inputFields .name > input, .inputFields .info > input {
    height: 50px;
    width: 30%;
    border: 2px solid #FFA62F;
    background-color: #FFE8C8;
    color: #4b4b4b;
}

.btnSubmit > button {
    background-color: #FFA62F;
    border: 2px solid #FFA62F;
    border-radius: 50px;
    color: #fff;
    padding: 10px;
    width: 100px;
    margin-top: 8px;
    font-weight: 700;
}

.btnSubmit > button:hover {
    background-color: #FFE8C8;
    border: 2px solid #FFA62F;
    color: #FFA62F;
    transition: 0.5s ease;
}

footer {
    margin-top: 100px;
    height: 30px;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 5px;
    background-color: #4b4b4b;
    color: #FFE8C8;
    font-family: monospace;
}

/* Responsive design */
@media (max-width: 470px), (max-width: 400px) {
    .container-fluid {
        display: flex;
        flex-direction: column;
    }

    .container-fluid .main-img > img {
        height: 290px;
        width: 380px;
    }

    .sec2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .sec2 .text, .sec2 .aboutImg {
        width: 100%;
        text-align: center;
    }

    .sec2 .aboutImg img {
        width: 100%;
        height: auto;
    }

    .row-cols-md-2 > .col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card {
        margin: 20px auto;
    }

    .inputFields .name, .inputFields .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputFields .name > input, .inputFields .info > input {
        width: 90%;
        margin-bottom: 10px;
        margin-right: 2.5em;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
